<section class="gradIndex">
    <div id="topDivAccueil">

        <img src="../../../assets/images/logo/LeftLogo.png" alt="logo"/>
        <img src="../../../assets/images/utilisateurs/textRightAccueil.png" alt="Lingochat : Un monde, une langue, une connexion.">
    </div>
</section>
<div id="bottomDivAccueil">
    <h1>Aperçu des langues disponibles</h1>
    <div class="imagesIndex">
        <img src="../../../assets/images/drapeaux/imgUSA.png" alt="imgUSA"/>
        <img src="../../../assets/images/drapeaux/imgFR.png" alt="imgFR"/>
        <img src="../../../assets/images/drapeaux/imgIndia.png" alt="imgIndia"/>
        <img src="../../../assets/images/drapeaux/imgSpain.png" alt="imgSpain"/>
        <img src="../../../assets/images/drapeaux/imgKorea.png" alt="imgKorea"/>
        <img src="../../../assets/images/drapeaux/imgMexico.png" alt="imgMexico"/>
        <img src="../../../assets/images/drapeaux/imgGermany.png" alt="imgGermany"/>
        <img src="../../../assets/images/drapeaux/imgRussia.png" alt="imgRussia"/>
        <img src="../../../assets/images/drapeaux/imgJapan.png" alt="imgUSA"/>
    </div>
</div>