<header>
    <div class="navbar">
        <a href="#"><img class="logoIndex" src="../../../assets/images/logo/LeftLogo.png" alt="logo" height="30px"></a>
        <div class="navbar-bar">
            <ul>
                <li><a routerLink="discovery">Découvrir</a></li>
                <li><a href="#">Communauté</a></li>
                <div class="headerLeft">
                    <li ><a href="#">Insciption</a></li>
                    <li><a href="#">Connexion</a></li>
                </div>
            </ul>
        </div>
        <a href="" src="../../../assets/images/logo/parameter-icon.jpg" alt="logo" height="30px"></a>
    </div>
</header>