<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/images/css/style.css}"/>
</head>
<footer>
    <div class="footerdiv">
        <div class=aboutus>
            <h4>About Us</h4>
            <p>Nous somme une petite équipe diversifié de personnes venant de différente région du globe et
                voulont mettre d'avant nos différences en les partageant et en permettant aux intéressés
                d'embrasser la culture d'autrui!</p>
        </div>
        <div class=contact>
            <h4>Contacter-nous</h4>
            <ul>
                <li> Email: <a href="mailto:web@crosemont.qc.ca">web@crosemont.qc.ca</a></li>
                <li>Addresse: 6400 16e Avenue, Montréal, QC H1X 2S9</li>
            </ul>
        </div>
        <div class=follow>
            <h4>Suivez-nous</h4>
            <ul class="icons">
                <li><a href="https://www.facebook.com/collegederosemont"><img src="/images/logo/fb.png" alt="facebook"></a></li>
                <li><a href="https://twitter.com/CollegeRosemont"><img src="/images/logo/twitter.png" alt="twitter"></a></li>
                <li><a href="https://www.instagram.com/collegerosemont"><img src="/images/logo/ig.png" alt="instagram"></a></li>
            </ul>
        </div>
    </div>
</footer>
</html>